@font-face {
    font-family: 'IRAN';
    src: url(../../components//assest//fonts//IRAN.ttf)
  }
  
  @font-face {
    font-family: 'IRANBlack';
    src: url(../../components/assest/fonts/IRANBlack.ttf);
  }


.cards{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
*{
    font-family: 'IRAN';
}
.titleGroup{
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}