/* media query */
@import url('./components//assest//mediaQuery//media480-Main.css');


:root {
  --main-coler: #92EFED;
  --second-coler: rgba(146, 239, 237, 0.75);
  --bg-coler: #3A00AD;
  --text-coler: #F6F6F6;
  --text-coler-second: #000000;
}

@font-face {
  font-family: 'IRAN';
  src: url(./components/assest/fonts/IRAN.ttf)
}

@font-face {
  font-family: 'IRANBlack';
  src: url(./components/assest/fonts/IRANBlack.ttf);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
}

.App {
  background-color: var(--bg-coler);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 15px 30px 15px;
}



/* navbar styling */

.navbar {
  background-color: var(--text-coler) !important;
  display: flex !important;
  border-radius: 32px;
  position: fixed !important;
  top: 10px;
  width: 95%;
  height: 50px;
  z-index: 100;
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-brand a {
  font-size: 18px;
  font-family: 'IRANBlack';
  color: var(--text-coler-second);
  text-decoration: none;
  padding-right: 7px;
}

.navbar-brand img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.nav-link {
  font-size: 15px !important;
  font-family: 'IRAN';
  color: var(--text-coler-second) !important;

}

.icon {
  color: var(--text-coler-second);
  margin-right: 4px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-user svg:hover{
  font-size: 38px;
}
#icon-shopp svg:hover{
  font-size: 38px;
}
#icon-telegram svg:hover{
  color: #006fbe;
  font-size: 38px;
}
#icon-instagram svg:hover{
  color: #be1300;
  font-size: 38px;
}
#icon-whatsapp svg:hover{
  color: #2cbe00;
  font-size: 38px;
}

.icon:nth-child(2) {
  margin-right: 20px !important;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
}
.btn-close{
  margin: 0 !important;
}

.CourceBuyItem{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.CourceBuyItem img{
  width: 75px;
  height: 50px;
}
.CourceBuyItem p{
  text-align: center;
  direction: rtl;
  width: 45%;
  min-width: 85px;
  overflow: hidden;
  height: 46px;
}
.CourceBuyItem button{
  width: 37%;
  padding: 0;
  height: 40px;
  min-width: 75px;
  font-size: 13px;
}

.alert{
  width: 29%;
  margin: auto;
  min-width: 308px;
  text-align: center;
}

.modal-body{
  text-align: center;
}







/* slider styling */
.carousel{
  height: 80vh;
  margin-bottom: 85px;
}

.slider-courses {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-text {
  text-align: center;
  font-family: 'IRAN';
  font-size: 16px;
  width: 75%;
  padding-top: 50px;
  color: var(--text-coler);
}

.description-title {
  font-family: 'IRANBlack';
  font-size: 36px;
  color: var(--text-coler);
  text-align: center;
}

.description-title span {
  color: red;
  font-family: 'IRANBlack';
}

.preview-img {
  width: 25vw;
  height: 17vw;
}

.carousel-inner,
.carousel-item,
.slider-courses {
  height: 100%;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview button {
  background-color: #ECAB14;
  font-family: 'IRANBlack';
  font-size: 17px;
  margin-top: 30px;
  border: none;
  border-radius: 32px;
  width: 100%;
  padding: 5px;
}






/* list cources styling */
.title-section {
  font-family: 'IRAN';
  width: 100%;
  text-align: right;
  font-size: 26px;
  font-weight: bold;
}

.title-section span {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: #FFFFFF;
}

.container-courses {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-courses {
  width: 75%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%
}

.title-course {
  text-align: center;
  cursor: pointer;
}

.courses {
  width: 27%;
  height: 72vh;
  background-color: var(--text-coler);
  border-radius: 48px;
  padding-inline: 15px;
  overflow-y: scroll;
  padding-bottom: 15px;
}
.courses::-webkit-scrollbar
{
  display: none;
}

.not-cources{
  font-family: 'IRAN';
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.title-course p {
  font-family: 'IRAN';
  font-size: 17px;
  color: var(--text-coler);
  width: 100%;
}

.title-course img {
  width: 115px;
  height: 115px;
  border-radius: 100%;
  opacity: 0.8;
}
.title-course img:hover{
  opacity: 1;
}

.course {
  background-color: #D9D9D9;
  border-radius: 32px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  cursor: pointer;
}

.course img {
  width: 90px;
  height: 50px;
}

.course p {
  font-family: 'IRAN';
  font-size: 14px;
  padding-right: 7px;
  margin: 0;
  text-align: right;
}








/* footer styling */
footer {
  background-color: #29007C;
  width: 95%;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  padding: 20px;
}

.section-footer {
  text-align: center;
}

.section-footer h5 {
  font-family: 'IRANBlack';
  font-size: 20px;
  color: var(--text-coler);
}

.section-footer p {
  font-family: 'IRAN';
  font-size: 14px;
  color: var(--text-coler);
}

#email {
  height: 40px;
  width: 200px;
  border-radius: 8px;
  border: none;
  padding: 5px;
  font-size: 12px;
  font-family: 'IRAN';
}
#email-btn{
  font-family: 'IRANBlack';
}
